PRIMARY_DOMAIN=shrten.pro

POSTGRES_DB=shrten
POSTGRES_USER=shrten
POSTGRES_PASSWORD=replace-with-a-random-hex-password
REDIS_PASSWORD=replace-with-another-random-hex-password

RATE_LIMIT_IP_HASH_SECRET=replace-with-at-least-32-random-characters
SHORT_CODE_SECRET=replace-with-another-stable-32-character-secret

CREATION_ATTEMPT_LIMIT=5
CREATION_ATTEMPT_WINDOW_SECONDS=60
CREATION_DAILY_LIMIT=20
CREATION_DAILY_WINDOW_SECONDS=86400
REDIS_COMMAND_TIMEOUT_MS=100
REDIS_URL_CACHE_TTL_SECONDS=86400
REDIS_NEGATIVE_CACHE_TTL_SECONDS=60
URL_RETENTION_DAYS=180
URL_CLEANUP_INTERVAL_HOURS=24

BACKUP_RETENTION_DAYS=14
